# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual environments
# =========================
venv/
env/
ENV/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# IDE / Editors
# =========================
.idea/
.vscode/

# =========================
# Operating systems
# =========================
.DS_Store
Thumbs.db

# =========================
# Environment variables
# =========================
.env

# =========================
# Machine Learning models
# =========================
*.pkl
*.joblib
*.h5
*.pt
*.pth

# =========================
# Logs
# =========================
*.log

# =========================
# Temporary files
# =========================
temp/
tmp/

# =========================
# Dataset cache
# =========================
.cache/

# =========================
# Matplotlib
# =========================
.matplotlib/

# =========================
# PyTorch cache
# =========================
torch_cache/
